{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": 0,
    "consistent-return": 0,
    "function-paren-newline": [
      "error",
      "never"
    ],
    "func-names": 0,
    "implicit-arrow-linebreak": [
      "off"
    ],
    "array-callback-return": "off",
    "class-methods-use-this": "warn",
    "global-require": 0,
    "no-param-reassign": 0,
    "no-shadow": 0,
    "no-console": 0,
    "no-multi-spaces": 0,
    "no-plusplus": 0,
    "no-restricted-globals": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "no-unused-vars": "warn",
    "no-use-before-define": 0,
    "max-len": [
      "error",
      150
    ],
    "template-curly-spacing": 0
  }
}

